
  .login-content {
    // background: #56CA96;
  }

  .logo {
      font-size: 9.8vw;
      width: 100%;
      font-weight: bolder;
      color: aliceblue;
      letter-spacing: -3px;
      text-align: center;
      padding-top: 30px;
    }

    .logo-row {
      padding-top: 100px;
      padding-bottom: 100px;
    }

    .login-col {
      margin: 0px 8px 0px 8px;
    }

  ion-button{
    --background: #062f77;
    text-align: center;
  }
