<ion-content class="login-content" padding>
  <ion-row class="logo-row">
      <h1 class="logo">OnTimeMe</h1>
    <ion-col></ion-col>
  </ion-row>
  <div class="login-box">
    <form (ngSubmit)="doGoogleLogin()" #registerForm="ngForm">
      <ion-row>
        <ion-col class="login-col">
          <button ion-button class="login-btn" full type="submit">
            Sign in with &nbsp;
            <ion-icon name="logo-googleplus"></ion-icon>
          </button>
        </ion-col>
      </ion-row>
    </form>
  </div>
</ion-content>
