<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item no-lines style="background-color:transparent">
      <h1 class="logo">Be On Time...</h1>
      <p item-right *ngIf="allEventMode == 'driving'" (click)="changeAllEventMode()">
          <ion-icon class="trans-mode" name="car"></ion-icon>
        </p>
        <p item-right *ngIf="allEventMode == 'bicycling'" (click)="changeAllEventMode()">
          <ion-icon class="trans-mode" name="bicycle"></ion-icon>
        </p>
        <p item-right *ngIf="allEventMode == 'walking'" (click)="changeAllEventMode()">
          <ion-icon class="trans-mode" name="walk"></ion-icon>
        </p>
  </ion-item>
</ion-content>
