.welcome-card ion-img {
  max-height: 35vh;
  overflow: hidden;
}

.trans-mode {
    padding-top: 20px;
    font-size: 35px;
    color: black; //Preferred size here
}

.logo {
    font-size: 9.8vw;
    width: 100%;
    font-weight: bolder;
    color: aliceblue;
    letter-spacing: -3px;
    text-align: center;
    padding-top: 30px;
}
